body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  display: inline-block;
  width: 45%;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.container-display {
  display: flex;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  width: 300px;
}

p {
  font-weight: bold;
  font-size: 0.9rem;
}

h6 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}